@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --primary-color: rgb(37, 36, 36);
  --primary-variant: #000000;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --box-text: rgb(205, 152, 248);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
  --box-text: rgb(107, 188, 255);
}
/* Main design */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--on-background);
  background-color: var(--background);

  overflow-x: hidden;
}

header {
  z-index: 100;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 4em;
  margin-bottom: 0;
}

h2 {
  color: var(--on-background-alt);
  font-size: 4em;
  font-weight: bold;
}

h3 {
  font-size: 3em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0 100px;
  line-height: 20px;
}

a{
  text-decoration: none;
}

.uk-link, a{
  text-decoration: none;
  color: inherit;
 }

 

embed {
  height: 270px;
  width: 270px;
  pointer-events: none;
  opacity: 1;
}

footer {
  text-align: center;
  margin: 10px auto;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
  color: inherit;
}

.uk-lightbox-items > * {
  background: #fff;
}

.uk-lightbox-button{
  color:  var(--primary-color);
}

.uk-lightbox-button:hover{
  color:var(--secondary-color);
}

.uk-lightbox-toolbar, .uk-lightbox-button{
  background: transparent;
}


.uk-close{
  color:  var(--primary-color);
}

.uk-close:hover{
  color:  var(--secondary-color);
}


#home {
  background-image: url("./pages/images/bady-abbas-hxi_yRxODNc-unsplash-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  
}

#projects {
  background-image: url("./pages/images/pexels-lukas-1420701-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  #projects {
    padding: 5%;
  }
}

#thank {
  display: none;
}

#thank img {
  width: 20vw;
  height: auto;
  padding: 0;
  margin: 0;
}

#thank h2 {
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  margin: 15px 0 30px 0;
}

#thank h1 {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  h1 {
    padding: 5%;  }

  h2 {
    padding: 5%;
  }

  #about-me {
    display: none;
  }
}

/* Home Section */
.title-group {
  
  text-align: center;

}

#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100vw;
}

.btn-hero1, .btn-hero2{
  padding: 20px;
  border-radius: 10px;
  font-weight: 300;
}

.btn-hero1 {
  background-color: rgb(175, 58, 175);
  color: rgb(253, 252, 250);
}

.btn-hero1:hover {
  background-color: rgb(194, 92, 194);
  color: rgb(253, 252, 250);
}

.btn-hero2 {
  background-color: var(--on-background);
  color: var(--background);
}

.btn-hero2:hover {
  background-color: var(--on-background-alt);
  color: var(--background);
}

/* About Section */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}

#about-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  max-width: 60%;
}

@media only screen and (max-width: 1024px){
  .about-container, #about-text-container {
    flex-direction: column;
  }

  #about-text-container {
    max-width: 100%;
  }
}

.lijst-punt {
  font-size: 25px;
  color: var(--primary-variant);
  font-weight: bold;
  line-height: 35px;
}

.about-container a {
  display: inline-block;
  border-bottom: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-out;
}

.about-container h2 {
  font-size: 25px;
  font-weight: bolder;

  color: var(--primary-color);
}
.about-container a:hover {
  transform: scale(1);
}

/* Projects Section */

.text-box {
  width: 40%;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
}

.image-container {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: var(--background);
  text-align: center;
  margin-top: 50px;
  opacity: 0.95;
  transition: ease-in-out 1s;
}

.image-container:hover{
  scale: 1.05;
}

@media only screen and (max-width: 970px) {
  .image-container:hover{
    scale: 1;
  }
}

/* Contact Section */
.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.fab:hover {
  color: var(--on-background);
}

#to-top-btn {
  background: url(./pages/images/to-top.svg) no-repeat;
  background-size: cover;
  cursor: pointer; /* Add a mouse pointer on hover */
  /* Some padding */
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;

  width: 80px;
  height: 80px;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#to-top-btn:hover {
  opacity: 0.7;
}



@media only screen and (max-width: 800px) {
  #btn-container a {
    margin: 0 5px;
  }
}

/* projects style */

.projects-title-container {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* media queries */

@media only screen and (max-width: 970px) {

  .column {
    max-width: 100vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
  }

  .column a {
    margin: 0;
    padding: 0;
  }

  .lijst-punt {
    font-size: 25px;
    color: var(--primary-variant);
    font-weight: bold;
    line-height: 35px;
  }


  .about-text {
    font-size: 15px;
    margin-bottom: 10%;
  }

  .about-container {
    display: block;
    margin: 0 10%;
  }

  #projects h1 {
    padding-top: 10%;
  }

  .grid-logo img {
    padding-top: 10%;
    margin: auto;
  }

  .grid-logo a {
    margin: auto;
  }

  .text {
    display: none;
  }

  .links-verder {
    margin: 0 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 80%; */
    align-items: center;
    justify-content: center;
  }

  .links-verder a {
    border: 1px solid var(--primary-color);
    padding: 5px;
  }

  .links-verder a:hover {
    background-color: var(--primary-color);
    color: whitesmoke;
  }

  .title-group {
    margin: 0;
    padding: 0;
  }

  #thank img {
    width: 60vw;
    height: auto;
    padding: 0;
    margin: auto;
  }

  footer p {
    font-size: 10px;
    padding: 0;
  }

  .about-container a:hover {
    transform: none;
  }

  .about-container a {
    margin: 0;
  }

  .btn-hero1 {
    width: auto;
  }

  .btn-hero2 {
    width: auto;
  }

  .grid-logo img:hover {
    transform: none;
    opacity: 1;
    margin: 10px;
  }

  .grid-print img:hover {
    transform: none;
  }

  .grid-print img {
    transition: none;

    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: auto;
  }

  .about-container embed {
    width: 80vw;
    height: auto;

    margin-right: 0;
    margin: auto;
  }

  #projects {
    background-image: none;
  }
}
